node_modules/

src/nw/lib
src/nw/locales
src/nw/node_modules
src/nw/pnacl
src/nw/nw*
src/nw/*.bin
src/nw/chromedriver
src/nw/credits.html
src/nw/*.dat
src/nw/*.pak
src/nw/nacl*
src/nw/minidump*
src/nw/payload*
src/nw/cesium/dist*
src/nw/cesium/fonts
src/nw/cesium/img
src/nw/cesium/lib
src/nw/cesium/api
src/nw/cesium/license
src/nw/cesium/config.js
src/nw/cesium/*.html
src/nw/cesium/manifest.json

arch/linux/.vagrant
arch/linux/cesium*
arch/linux/*.js*
arch/linux/yarn*
arch/linux/ubuntu*
arch/linux/nw*

arch/windows/.vagrant
arch/windows/cesium-*
arch/windows/*.js*
arch/windows/yarn*
arch/windows/ubuntu*
arch/windows/nw*
arch/windows/LICENSE.txt

arch/osx/.vagrant

.idea/

src/nw/cesium
!src/nw/cesium/node.js
tmp

package-lock.json
src/nw/swiftshader/libEGL.so
src/nw/swiftshader/libGLESv2.so

downloads

src/nw/yarn.lock
